
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav.header {
  
  height:  50px;
  width: 100%;
  position: sticky;
  
}
nav.header a {
  text-decoration: none;
  color: #1a1a1a;
  padding-bottom: 2px;
  gap: 2rem;
  font-size: 20px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.nav-links{
  display: flex;
  list-style: none;
  gap: 16px;
}
.nav-links a{
  text-decoration: none;
  color:#1a1a1a ;
  font-weight: 500;
}
.logo {
  height: 4%;
}


.search-box {
  padding: 10px 16px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 13px;
  background: #fff;
  border: 1px solid #000000;
  width: 300px;
  border-radius: 12px;
}   
    nav.header a:hover { color: #8b6a3b; text-decoration: underline} 
    .nav-links a:hover { color: #8b6a3b; }

.book-now{ 
    background: #07086d;
    color: #F5F0E8;
    border: none;
    border-radius: 12px;
    padding: 10px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
     } 
.book-now:hover {
    background: #8b6a3b;
    color: #F5F0E8;}